/* Some simple basic styles */
* {
  font-family: Verdana, Geneva, sans-serif;
  font-size:12px;
}
body {
  width:auto;
  margin: 0 10px;
}

@media (min-width: 500px) {
  body {
    width:500px;
    margin: 0 auto;
  }

  * {
    font-size:16px;
  }
}

main {
  margin-bottom:40px;
}
h1 {
  margin:40px 0;
  font-size:30px;
}
h2 {
  font-size:25px;
}
h3 {
  font-size:20px;
}
em {
  font-size:12px;
}
h2 em {
  color:#999;
  font-weight:normal;
  font-size:16px;
}
section {
  padding-bottom:30px;
}
a:focus,
input:focus,
button:focus
 {
  outline:3px solid #ffbf47;
  outline-offset: -3px;
}

label {
  display:block;
}
input {
  font-size:16px;
  padding:5px;
  display:block;
  margin-bottom:10px;
  border:solid 1px;
}
button {
  display:inline-block;
  border:solid 1px;
  padding:10px;
}

/* Non JavaScript Tab fallback */
.tabset .tabs {
  padding:0;
}

.tabset .tabs .tab {
  list-style-type:none;
}

/* JavaScript enabled tab styling */
.js-enabled .tabset .tabs {
  margin-bottom:0;
  border-left:solid 1px black;
}

.js-enabled .tabset .tabs .tab {
  float:left;
  margin:0;
}

.js-enabled .tabset .tabs .tab a {
  padding:10px;
  display:block;
  border-right:solid 1px black;
  border-top:solid 1px black;
  background-color:#ddd;
}

.js-enabled .tabset .tabs .tab a[aria-selected=true] {
  background-color:#fff;
  cursor:default;
  text-decoration:none;
  color:black;
}

.js-enabled .tabset .panel[aria-hidden=false] {
  display:block;
  border:solid 1px;
  padding:20px;
}

.js-enabled .tabset .panel[aria-hidden=true] {
  display:none;
}

.js-enabled .js-hidden {
  display:none;
}

/**
 * Lightweight clearfix
 * http://nicolasgallagher.com/micro-clearfix-hack
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
